<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddRecordServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllRecordsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetAllRecordsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTestStatsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetTestStatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRecordsPerGenderServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetRecordsPerGenderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentsWhoPassedServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetStudentsWhoPassedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentsWhoFailedServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetStudentsWhoFailedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRecordsOverRangeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetRecordsOverRangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRecordServlet</servlet-name>
        <url-pattern>/AddRecordServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllRecordsServlet</servlet-name>
        <url-pattern>/GetAllRecordsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTestStatsServlet</servlet-name>
        <url-pattern>/GetTestStatsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRecordsPerGenderServlet</servlet-name>
        <url-pattern>/GetRecordsPerGenderServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentsWhoPassedServlet</servlet-name>
        <url-pattern>/GetStudentsWhoPassedServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentsWhoFailedServlet</servlet-name>
        <url-pattern>/GetStudentsWhoFailedServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRecordsOverRangeServlet</servlet-name>
        <url-pattern>/GetRecordsOverRangeServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
